@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

:root {
    font-family: 'Gantari', sans-serif; 
    color: white;
    background-color: #2C3639;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
    background-color: inherit;
    grid-area: 1 / 1 / 3 / 2;
}

.top {
    background-color: white;
    grid-area: 1 / 2;
}

.main {
    background-color: lightgray;
    grid-area: 2 / 2 / 3 / 3;
}

.footer {
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    color: inherit;
}